﻿@model FilterAndAreas.Student.Models.StudentViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width: 50%; margin-left: auto; margin-right: auto;">
    <form method="post" class="form-control">
        <label class="form-control">Name:</label>
        <input type="text" class="form-control" asp-for="name"><br>
        <label class="form-control">Age:</label>
        <input type="text" class="form-control" asp-for="age"><br>
        <input type ="submit" btn-primary" asp-action="Index" asp-controller="Student" value="Click">
    </form>
</div>