﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TaskApi.Models.RecordViewModel>
@{
}
<div>
    <table id="emptable" class="table-bordered shadow-sm col-6">
        <tr>
            <td>
                <label class="col-form-label">Id</label>
            </td>
            <td>
                <label class="col-form-label">Name</label>
            </td>
            <td>
                <label class="col-form-label">Department</label>
            </td>
        </tr>
    </table>
</div>
@section Scripts{

    @foreach (var item in Model)
    {
        <script>
    $("document").ready(
        function () {
            var data = "<tr><td>@item.id</td>" +
                "<td>@item.name</td>" +
                "<td>@item.department</td></tr> ";
            $("#emptable").append(data);
        }
    )
        </script>
    }
}
