﻿@{
    ViewData["Title"] = "Home Page";
}
@model DI.Models.DImodelview

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="shadow">Transient1</h1>
    <label id="transient">@Model.transient1</label>
    <h1 class="shadow">Transient2</h1>
    <label id="transient">@Model.transient2</label>

    <h1 class="shadow">Scoped1</h1>
    <label id="scoped">@Model.scoped1</label>
    <h1 class="shadow">Scoped2</h1>
    <label id="scoped">@Model.scoped2</label>
    <h1 class="shadow">Singleton1</h1>
    <label id="singleton">@Model.singleton1</label>
    <h1 class="shadow">Singleton2</h1>
    <label id="singleton">@Model.singleton2</label>
</div>
