﻿@model Form3.Models.Detail
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <center>
        <h1 style="font:600 ; color:darkmagenta">FORM #3</h1>
        <form asp-controller="Form3" method="post" class="form-group border-dark col-lg-10 shadow">
            <table class="table">
                <tr>
                    <td><label for="name" class="col-form-label">Name:</label></td>
                    <td><input id="name" type="text" asp-for="name" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="email" class="col-form-label">Email:</label></td>
                    <td><input id="email" type="text" asp-for="email" class="form-control"></td>
                </tr>
                <tr>
                    <td><label asp="mobile" class="col-form-label">Mobile:</label></td>
                    <td><input id="mobile" type="text" asp-for="mobile" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="address" class="col-form-label">Address:</label></td>
                    <td><input type="text" asp-for="address" class="form-control" height="50"></td>
                </tr>
                <tr>
                    <td><label for="gender" class="form-label">Gender:</label></td>

                    <td>
                        <label for="gender">Male</label>
                        <input type="radio" asp-for="gender" name="gender" value="Male">
                    

                    <label for="gender" >Female</label>
                    <input type="radio" asp-for="gender" name="gender" value="Female">

                    <label for="gender" >Other</label>
                    <input type="radio" asp-for="gender" name="gender" value="Other"></td>
                </tr>
                <tr>
                    <td><label for="education" class="col-form-label">Education:</label></td>
                    <td>
                        <select asp-for="education" class="form-control">
                            <option value="" selected disabled hidden>Choose here...</option>
                            <option value="10th">10th</option>
                            <option value="12th">12th</option>
                            <option value="Bachelors">Bachelors</option>
                            <option value="Post Graduate">Post Graduate</option>
                            <option value="Phd">Phd</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="password" class="col-form-label">Password:</label></td>
                    <td><input type="text" asp-for="password" class="form-control"></td>
                </tr>
                <tr>
                    <td><label for="confirmpassword" class="col-form-label">Confirm Password:</label></td>
                    <td><input id="confirmpassword" type="text" asp-for="confirmPassword" class="form-control"></td>
                </tr>
            </table>
            <div>
                <br>
                <input type="submit" asp-controller="Home" asp-action="Table" class="btn btn-primary" value="Register">
            </div>
        </form>
        </center>
</div>
