﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Table Page";
}
@model Form3.Repository.RepositoryService
<div>
    <center>
        <h1 style="font:600 ; color:darkmagenta">People Details</h1>
        <table name="PeopleList" id="peoplelist" class="table-bordered table-striped shadow col-10">
            <tr>
                <th>Name</th>

                <th>E-mail</th>

                <th>Mobile</th>

                <th>Address</th>
                <th>Gender</th>
                <th>Education</th>

                <th>Password</th>
            </tr>
        </table>
        </center>
</div>
@section Scripts{

    @foreach (var item in Model.Person)
    {
<script>
    $("document").ready(
        function () {
            var data = "<tr><td>@item.name</td>" +
                "<td>@item.email</td>" +
                "<td>@item.mobile</td> " +
                "<td>@item.address</td> " +
                "<td>@item.gender</td> " +
                "<td>@item.education</td> " +
                "<td>@item.password</td></tr> ";
            $("#peoplelist").append(data);
        }
    )
</script>
    }

}