﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 shadow">Welcome Student</h1>
    <center>
        <table class="table-active">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Roll Number
                </th>
                <th>
                    Status
                </th>
            </tr>
            <tr>
                <td>
                    @ViewBag.Name
                </td>
                <td>
                    @ViewBag.Rollno
                </td>
                <td>
                    @ViewBag.Status
                </td>
            </tr>
            </table>
        </center>
    
</div>
