﻿@{
    ViewData["Title"] = "Home Page";
}
@model Calculator.Models.CalculatorModel

<div class="text-center justify-content-sm-between">
    <h1 class="display-4 shadow">Welcome to Basic Calculator</h1>
    <form asp-controller="Calculator" method="post">
        <label asp-for="firstnumber" class="form-control">FirstNumber</label>
        <input type="text" asp-for="firstnumber">
        <span asp-validation-for="firstnumber" class="alert-danger"></span>
        <label asp-for="secondnumber" class="form-control">FirstNumber</label>
        <input type="text" asp-for="secondnumber">
        <span asp-validation-for="secondnumber" class="alert-danger"></span>
        <select asp-for="operation" class="form-control justify-content-center" style="text-align-last: center; padding-right: 29px;">
            <option value="operation" selected disabled hidden>Choose Operation</option>
            <option value="Addition">Addition</option>
            <option value="Subtraction">Subtraction</option>
            <option value="Division">Division</option>
            <option value="Multiplication">Multiplication</option>
        </select>
        <br>
        <span asp-validation-for="operation" class="alert-danger"></span>
        <input type="submit" class="btn-outline-primary" asp-action="Addition">

    </form>
    <br>
    <label asp-for="result" class="form-control">Result</label>
    <h3 class="shadow rounded-circle" asp-for="result">@Model.result</h3>
</div>
