﻿@{
    ViewData["Title"] = "Home Page";
}
@model MVCForm.Models.NameModel

<div class="text-center">
   <h1 class="border-dark shadow">Welcome</h1>
    <input asp-for="Name" type="text">
    <input type="submit" asp-action="Greeting" asp-controller="Home">
</div>
