﻿@{
    ViewData["Title"] = "Home Page";
}
@model form1.Models.formModel

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<script src="valformscript.js"></script>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>HTML TASK</title>
</head>
<body>
    <center>
        <div class="container">
            <form name="taskform" method="post" id="taskform">
                <div>
                    <H1>HTML TASK</H1>
                    <table border="1" cellpadding="5">

                        <tr>
                            <td>
                                <label class="form-label" for="fname">Enter FirstName:</label>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="fname" name="fname"><br>
                                <span class="col-sm-2 labelfont errorMsg" name="errfname" id="errfname"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="mname">Enter MiddleName(Optional):</label>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="mname" name="mname"><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="lname">Enter LastName:</label>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="lname" name="lname"><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="email">Enter E-mail:</label>
                            </td>
                            <td>
                                <input class="form-control" type="email" id="email" name="email"><br>
                                <span class="col-sm-2 labelfont errorMsg" name="erremail" id="erremail"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="mobile">Enter Mobile Number:</label>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="mobile" name="mobile"><br>
                                <span class="col-sm-2 labelfont errorMsg" name="errmobile" id="errmobile"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <label class="form-label" for="SelectGender">
                                    Select Gender:
                                </label><br>
                                <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                                <label class="form-label" for="male">Male</label><br>
                                <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                                <label class="form-label" for="female">Female</label><br>
                                <input class="form-check-input" type="radio" id="other" name="gender" value="other">
                                <label class="form-label" for="other">Other</label>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="higheredu">Select Education:</label><br>
                            </td>
                            <td>
                                <select class="form-select" id="higheredu" name="higheredu">
                                    <option value="" selected disabled hidden></option>
                                    <option value="10th">10th </option>
                                    <option value="12th">12th </option>
                                    <option value="Bacherlors">Bacherlors  </option>
                                    <option value="Post Graduate">Post Graduate </option>
                                    <option value="Phd">Phd </option>
                                    <option value="Diploma">Diploma </option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="subscribe">Subscribe for Email Updates:</label>
                            </td>
                            <td>
                                <label class="form-label" for="Yes">Yes</label>
                                <input class="form-check-input" type="checkbox" id="Yes" name="subscribe" value="Yes">
                                <label class="form-label" for="No">No</label>
                                <input class="form-check-input" type="checkbox" id="No " name="subscribe" value="No"><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="address">Address:</label>
                            </td>
                            <td>
                                <textarea class="form-control" id="address" name="address" rows="2">
                    </textarea><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="password">Enter password</label>
                            </td>
                            <td>
                                <input class="form-control" type="password" id="password" name="password">
                                <span class="col-sm-2 labelfont errorMsg" name="specialchars" id="specialchars"></span>
                                <span class="col-sm-2 labelfont errorMsg" name="alphachars" id="alphachars"></span>
                                <span class="col-sm-2 labelfont errorMsg" name="numchars" id="numchars"></span>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label" for="confirmpassword">Enter password again</label>
                            </td>
                            <td>
                                <input class="form-control" type="password" id="confirmpassword" name="confirmpassword">
                                <span class="col-sm-2 labelfont errorMsg" name="errconfirmpassword" id="errconfirmpassword"></span>
                            </td>
                        </tr>
                    </table><br><br>


                    <div style="margin:0 auto;">
                        <input id="register" name="register" class="btn btn-primary register" type="submit" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </center>
    
    <!--<script src="tablescript.js"></script>-->
</body>
</html>
<style>
    .button {
        width: 70px;
        background-color: lightblue;
    }
</style>
