﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TaskApi.Models.RecordViewModel>
@{
}

<div>
    <center>
        <form name="emptable" id="emptable" asp-controller="Home" class="form-control">
            <table>
                <tr>
                    <td>
                        <label class="col-form-label">Id</label>
                    </td>
                    <td>
                        <input id="id" class="form-control" type="text">
                    </td>
                    <td>
                        <label class="col-form-label">Name</label>
                    </td>
                    <td>
                        <input id="name" class="form-control" type="text" id="name">
                    </td>
                    <td>
                        <label class="col-form-label">Department</label>
                    </td>
                    <td>
                        <input id="department" class="form-control" type="text" id="dept">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" id="add" value="Add" asp-action="Add">
            <button id="delete" value="Delete" asp-action="Delete">Delete</button>
        </form>
        <br><br>
        <div id="partial">
            @Html.PartialAsync("PartialView", Model);
        </div>
        </center>
</div>

@section Scripts{
        <script>
            $("#partial").hide();
            var count = 1;
            $("#add").click(function () {
                if (count == 1) {
                    $("#partial").toggle();
                    $("#partial").load();
                }
            });
            $("#delete").click(function () {
                if (count == 1) {
                    $("#partial").toggle();
                    $("#partial").load();
                }
            });
        </script>
    }
