﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TaskApi.Models.RecordViewModel>

<div class="text-center">
    <center>
        <div id="partial">
            @{
               await Html.PartialAsync("PartialView", Model);
            }
        </div>
        <br>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <table id="emptable" class="table-bordered shadow-sm col-6">
                <tr>
                    <td>
                        <label class="col-form-label">Enter Id to search:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="searchid">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="SEARCH" id="search" class="btn-primary" asp-action="Search" />
        }
        <br>
        <table id="emptable" class="table-bordered shadow-sm col-6">
            <tr>
                <td>
                    <label class="col-form-label">Id</label>
                </td>
                <td>
                    <label class="col-form-label">Name</label>
                </td>
                <td>
                    <label class="col-form-label">Department</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" disabled id="resultid">
                </td>
                <td>
                    <input type="text" disabled id="resultname">
                </td>
                <td>
                    <input type="text" disabled id="resultdept">
                </td>
            </tr>
        </table>

    </center>
</div>

@section Scripts{
    <script>
        $("document").ready(
            function () {
                $.ajax({
                    url: '@Url.Action("PartialViewR", "Home")',
                    data: {},
                    type: "GET",
                    success: function (data) {
                        $('#partial').html(data);
                    }
                })
            }
        );
    </script>
}