﻿@{
    ViewData["Title"] = "Home Page";
}
@model Form2HTMLhelpers.Models.Details

<div class="text-center">
    @using (Html.BeginForm("Table", "Home", FormMethod.Post))
    { 
    <table>

        <tr>
            <td>@Html.Label("Enter Name:")</td>
            <td>@Html.TextBoxFor(m => m.name)</td>
        </tr>

        <tr>
            <td>@Html.Label("Enter E-mail:")</td>
            <td>@Html.TextBoxFor(m => m.email)</td>
        </tr>

        <tr>
            <td>@Html.Label("Enter Mobile:")</td>
            <td>@Html.TextBoxFor(m => m.mobile)</td>
        </tr>

        <tr>
            <td>@Html.Label("Enter Address:")</td>
            <td>@Html.TextBoxFor(m => m.address)</td>
        </tr>

        <tr>
            <td>@Html.Label("Enter Password:")</td>
            <td>@Html.TextBoxFor(m => m.password)</td>
        </tr>
        <tr>
            <td><input type="submit" name="register" value="Register"></td>
            </tr>

    </table>
    }
</div>
