﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Table Page";
    var Person = ViewBag.Person;
}
<div>

    <table name="PeopleList" id="peoplelist">
        <tr>
            <th>Name</th>
       
            <th>E-mail</th>
        
            <th>Mobile</th>
       
            <th>Address</th>
        
            <th>Password</th>
        </tr>
    </table>
</div>
@section Scripts{

    @foreach (var item in Person)
    {
<script>
    $("document").ready(
        function () {
            var data = "<tr><td>@item.name</td>" +
                "<td>@item.email</td>" +
                "<td>@item.mobile</td> " +
                "<td>@item.address</td> " +
                "<td>@item.password</td></tr> ";
            $("#peoplelist").append(data);
        }
    )
</script>
          }
        
    }